<section class="screen-second" id="screen-2">
  <div class="container-screen">
      <div class="screen-second__top">
        <a class="screen-second__logo" href="">
          <img src="../img/logo.svg" alt="nedra" width="120" height="47">
        </a>
      </div>
  </div>
  <div class="screen-second__content">
    <div class="text">
      Скоро мы объявим официальную дату открытия.
      Но уже сегодня у вас есть возможность приобрести сертификат в спа-комплекс.
    </div>

    <button type="button" class="btn-reset nedra-btn">
      <span class="nedra-btn-text">КУПИТЬ СЕРТИФИКАТ</span>
      <span class="anim"></span>
      <span class="anim"></span>
      <span class="anim"></span>
    </button>
  </div>

  <div class="screen-footer">
      <div class="screen-footer__title">Контакты</div>
      <ul class="list-reset list">
        <li class="item">
          <a class="item-link" href="">+7 999 999 99 99</a>
        </li>
        <li class="item">
          <a class="item-link" href="">info@nedra.com</a>
        </li>
        <li class="item">
          <a class="item-link" href="">Россия, г. Москва</a>
        </li>
      </ul>
  </div>
</section>
