<section class="screen-first">
    <div class="container-screen">
      <div class="screen-first__wrapper">
      </div>
    </div>

  <div class="screen-first__bottom">
    <div class="text">Многофункциональный спа-комплекс включающий в себя направления: спа, медицинские услуги, бьюти-услуги, сьюты</div>
    <a href="#screen-2" type="button" class="btn-reset go-down" id="go-down">
      <svg width="109" height="109" viewBox="0 0 109 109" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="line-down" d="M88 38L54.5 71L21 38" stroke="white" />
      </svg>
    </a>
  </div>
</section>
