// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";


// -------------

.header {
  position: absolute;
  top: 80px;
  z-index: 1;

  @media(max-width: 768px) {
    top: 30px;
    &__logo {
      display: flex;
      max-width: 55px;
    }
  }


}

.screen-first {
  background: url('../img/nedra-screen-1.webp') center / cover no-repeat;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media(max-width: 1440px) {
    height: 720px;
  }
  @media(max-width: 768px) {
    height: 360px;
  }
  @media(max-width: 420px) {
    height: 100vh;
    background-position: center 100px;
  }
  .screen-lines {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100vw;
    @media(max-width: 1440px) {
      bottom: -100px;
    }
    @media(max-width: 768px) {
      bottom: -220px;
    }
    @media(max-width: 420px) {
      bottom: auto;
      top: -200px;
      display: none;
    }

    svg {
      width: 100%;
    }
  }

  .screen-lines-mobile {
    display: none;
  }
  @media(max-width: 420px) {
    .screen-lines-mobile {
      display: block;
      position: absolute;
      left: 0;
      top: 80px;
      width: 100vw;
      svg {
        width: 100%;
      }
    }
  }

  .screen-link {
    cursor: pointer;
  }




  &__bottom {
    margin-top: auto;
    padding-bottom: 20px;
    max-width: 780px;
    position: relative;
    z-index: 1;
    @media(max-width: 768px) {
      max-width: 375px;
      padding-bottom: 10px;
    }
    @media(max-width: 420px) {
      max-width: 250px;
    }
    .text {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 131%;
      letter-spacing: 0.16em;
      text-align: center;
      color: var(--white);
      @media(max-width: 768px) {
        font-size: 10px;
      }
    }
    .go-down {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      cursor: pointer;
      @media(max-width: 768px) {
        width: 32px;
        height: 32px;
        margin: 0 auto;
        svg {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

#line-down {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: draw 4s ease-in-out infinite;
  animation-direction: alternate;

}

@keyframes draw {
  0% {
    stroke-dashoffset: 100;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -100;
  }
}

//----------

.screen-second {
  min-height: 100vh;
  background: url('../img/nedra-screen-2.webp') center / cover no-repeat;
  position: relative;
  padding-top: 80px;
  padding-bottom: 60px;
  @media(max-width: 1440px) {
    padding-bottom: 30px;
    min-height: 100%;
  }
  @media(max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__logo {
    @media(max-width: 768px) {
      max-width: 55px;
      display: block;
    }
  }
  &__content {
    padding-top: 420px;
    padding-bottom: 306px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    @media(max-width: 1440px) {
      padding: 240px 0 220px 0;
    }
    @media(max-width: 768px) {
      padding: 109px 0 80px 0;
    }
    @media(max-width: 420px) {
      min-height: 100vh;
    }

    .text {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: clamp(14px, 1vw, 18px);
      line-height: 131%;
      letter-spacing: 0.16em;
      text-align: center;
      color: var(--white);
      max-width: 885px;
      margin-bottom: 72px;
      @media(max-width: 768px) {
        margin-bottom: 24px;
        font-size: 10px;
        max-width: 380px;

      }
      @media(max-width: 420px) {
        margin-bottom: 12px;
        max-width: 250px;
      }
    }
  }
}

.nedra-btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(10px, 2vw, 29px);
  line-height: 131%;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 99px;
  padding: 18px 64px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  @media(max-width: 992px) {
    padding: 10px 40px;
  }
  .nedra-btn-text {
    z-index: 1;
    position: relative;
    pointer-events: none;
  }
  .anim {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 34%;
    height: 0;
    background-color: #fff;
    transition: height 0.3s ease-in-out;
    pointer-events: none;
  }

  &:hover {


    .anim {
      animation: see 1s ease-in-out infinite;
    }

    .anim:nth-child(2) {
      left: 50%;
      transform: translateX(-50%);
      animation-delay: .2s;
    }

    .anim:nth-child(3) {
      right: 0;
      left: auto;
      animation-delay: .3s;
    }
  }
}

@keyframes see {
  to {
    height: 100%;
    opacity: 0;
  }
}

.screen-second:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 34.33%, rgba(0, 0, 0, 0.4) 100%);
}

.screen-footer {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media(max-width: 420px) {
    transform: translateY(-50px);
  }
  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(10px, 2vw, 18px);
    line-height: 131%;
    letter-spacing: 0.16em;
    text-align: center;
    color: var(--white);
    margin-bottom: 32px;
    @media(max-width: 768px) {
      margin-bottom: 12px;
    }
  }

  .list {
    display: flex;
    align-items: center;
    gap: 32px;
    @media(max-width: 768px) {
      flex-direction: column;
      gap: 12px;
    }
  }
  .item-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(10px, 2vw, 18px);
    line-height: 131%;
    letter-spacing: 0.16em;
    text-align: center;
    color: var(--white);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .7);
  z-index: 888888;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease, visibility .3s ease;
  &--active {
    opacity: 1;
    visibility: visible;
  }
  &__container {
    max-width: 1200px;
    border-radius: 40px;
    padding: 55px 50px;
    background-color: var(--orange);
    position: relative;
    margin: 0 10px;

    @media(max-width: 1220px) {
      max-width: 700px;
      width: 100%;
      padding: 30px;
    }
    @media(max-width: 768px) {
      padding: 20px;
    }
  }
  &__close {
    cursor: pointer;
    position: absolute;
    top: 56px;
    right: 55px;
    svg {
      pointer-events: none;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    &-header {
      margin-bottom: 40px;
      @media(max-width: 768px) {
        display: flex;
        align-items: center;
      }
    }
  }
  @media(max-width: 1220px) {
    &__img{
      height: 100%;
      picture {
        height: 100%;
        display: block;
      }
      img {
        height: 100%;
        border-radius: 20px;
        object-position: -70px;

      }
    }

    &__close {
      width: 32px;
      height: 32px;
      top: 42px;
      right: 50px;
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }

  @media(max-width: 768px) {
    &__img {
      display: none;
    }
    &__close {
      top: 32px;
      right: 32px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 490px 550px;
    gap: clamp(40px, 2vw, 70px);
    @media(max-width: 1220px) {
      grid-template-columns: 300px 280px;
    }
    @media(max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__logo {
    margin-bottom: 40px;
    @media(max-width: 768px) {
      margin-bottom: 0;
      max-width: 52px;
      svg {
        max-width: 52px;
      }
    }
  }
  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(12px, 3vw, 29px);
    line-height: 131%;
    letter-spacing: 0.1em;
    color: var(--white);
    text-transform: uppercase;
    @media(max-width: 768px) {
      width: 77%;
      text-align: center;
    }
  }
  .row-checkbox {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    .checkbox {
      width: 32px;
      height: 32px;
      accent-color: #B86030;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      appearance: none;
      z-index: 2;
      cursor: pointer;
    }
    span {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: clamp(10px, 1vw, 16px);
      line-height: 131%;
      letter-spacing: 0.16em;
      color: var(--white);
      position: relative;
      padding-left: 47px;
      @media(max-width: 1220px) {
        font-size: 10px;
        padding-left: 30px;
      }
      @media(max-width: 768px) {
        max-width: 300px;
      }
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 32px;
        height: 32px;
        border: 1px solid var(--white);
        border-radius: 10px;
        @media(max-width: 1220px) {
          width: 24px;
          height: 24px;
          border-radius: 7px;
        }
      }
      a {
        text-decoration: underline;
        color: var(--white);
        position: relative;
        z-index: 3;
      }
    }
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  &__row {
    input {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 131%;
      letter-spacing: 0.16em;
      color: var(--white);
      background-color: transparent;
      border: none;
      border-bottom: 1px solid var(--white);
      padding-bottom: 12px;
      width: 100%;
      outline: none;
      &::placeholder {
        color: #fff;
      }
      &:focus {
        border-bottom: 1px solid #e0ffc4;
      }
    }
  }
  .row-checkbox {
    margin-top: 12px;
  }
  &__bottom {
    margin-top: auto;
    display: flex;
    align-items: end;

  }
  &__btn {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(10px, 1vw, 29px);
    line-height: 131%;
    letter-spacing: 0.1em;
    text-align: center;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 99px;
    padding: 18px 54px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    transition: color .3s ease, background-color .3s ease;
    @media(any-hover: hover) {
      &:hover {
        color: var(--black);
        background-color: var(--white);
      }
    }
  }
}

.checkbox:checked + .custom-checkbox::before {
  background: url('../img/checked.svg') center no-repeat;
}


// 404 ?

.main-404 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  .title {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: clamp(150px, 40vw, 500px);
    letter-spacing: 0.16em;
    color: #fff;
    text-align: center;
    line-height: 1;
    margin-bottom: 50px;
    @media(max-width: 768px) {
      margin-bottom: 23px;
    }
  }
  .text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(10px, 2vw, 18px);
    line-height: 131%;
    letter-spacing: 0.16em;
    text-align: center;
    color: #fff;
    margin-bottom: 113px;
    max-width: clamp(310px, 35vw, 670px);
  }
  .link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(12px, 2vw, 29px);
    line-height: 131%;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 99px;
    padding: 18px 64px;
  }
}
